.Followings {
    display: flex;
    min-height: 100vh;
    background-color: #171618f3;
    padding-left: 21rem;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
h3.heading-text{
    margin-top: .5rem;
    color: rgb(155, 155, 155);
    font-weight: 300;
}


@media (max-width: 850px) {
    .Followings {
        padding-left: 16rem;
    }
}

@media (max-width: 750px) {
    .Followings {
        padding-left: 14rem;
    }
}
@media (max-width: 650px) {
    .Followings{
        padding: 4rem 2rem;
    }
    #create-post .left{
        display: none;
    }
}
@media (max-width: 470px) {
    /* html{
        font-size: 90%;
    } */
    .Followings .posts .post .left img {
        margin-top: .6rem;
        width: 2rem;
    }
    .Followings{
        padding: 4rem .4rem 6rem .4rem;
    }

}